APP_NAME="Leads API Project"
ADMIN_EMAIL="admin@gmail.com"
DB_HOST="127.0.0.1"
DB_PORT="3036"
DB_NAME="lead_management"
DB_USER="root"
DB_PASSWORD=""
DB_SOCKET=""
DB_CHARSET="utf8mb4"
SESSION_SAVE_PATH=""
