APP_NAME="Leads API Project"
APP_ENV="local"

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="ChangeThisPassword123"

# Local XAMPP
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="lead_management"
DB_USER="root"
DB_PASSWORD=""
DB_SOCKET=""
DB_CHARSET="utf8mb4"
SESSION_SAVE_PATH=""

# MilesWeb example
# DB_HOST="localhost"
# DB_PORT="3306"
# DB_NAME="your_milesweb_database"
# DB_USER="your_milesweb_database_user"
# DB_PASSWORD="your_milesweb_database_password"
# DB_SOCKET=""
# DB_CHARSET="utf8mb4"
# SESSION_SAVE_PATH=""
