APP_NAME="Leads API Project"
APP_URL="http://localhost:8080/leding-page-"
ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="admin@123"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="lead_management"
DB_USER="root"
DB_PASSWORD=""
DB_SOCKET="/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock"
DB_CHARSET="utf8mb4"
SESSION_SAVE_PATH=""
